/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Personal CSS*/

html {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

.qr-card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    margin: 20px;
}

.qr-card-image {
    border-radius: 10px;
    width: 275px;
    margin: 20px;
}

.qr-card-heading {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 275px;

}

.qr-card-text {
    margin: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 250px;
    color: hsl(220, 15%, 55%);
}